<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <main>
        <br/>
        <div class="bggrey card d-flex flex-column m-2 p-2">
            <h2>CYTI miner monitor</h2>
            <table>
                <tr>
                    <% generalInfoTableHeader.forEach(function(header) { %>
                        <td class="tableHearder1">
                            <%= header %>
                        </td>
                        <% }); %>
                </tr>
                <tr>
                    <td><%= runningSince %></td>
                    <td><%= minerAddress %></td>
                    <td><%= parallelProcesses %></td>
                    <td><%= nbCYTIContracts %></td>
                    <td><%= CYTIContratBalance %></td>
                </tr>
            </table>
            <br/>
            <table>
                <tr>
                    <% processInfoHeader.forEach(function(header) { %>
                        <td class="tableHearder2">
                            <%= header %>
                        </td>
                        <% }); %>
                </tr>
                <tr>
                    <td class="align-left tableHearder2">CYTI miner</td>
                    <td><%= processedCYTIRequest.length %></td>
                    <td><%= totalValueProcessed %></td>
                    <td><%= currentHashRate %></td>
                    <td><%= currentMinedBoxId %></td>
                </tr>
                <tr>
                    <td class="align-left tableHearder2">CYTI results</td>
                    <td><%= processedMintResults.length %></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </table>
            <br/>
            <div class="d-flex flex-column justify-content-start">
                <% recentLog.forEach(function(line) { %>
                    <div class="d-flex flex-row justify-content-start">
                        <%= line %>
                    </div>
                    <% }); %>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>



